body {
    font-family: Calibri, monospace;
    font-size: large;
    display: flex;
    justify-content: center;

    background-image: url("noteBackground2.jpg");
    backdrop-filter: blur(8px);
    background-color: white;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    width: min-content;
    height: min-content;
    margin: 1em;
    padding: 1em 1.5em 1.5em 1.5em;
    background-color: white;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    border: 1px solid black;
}

.card:hover {
    box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.4);
}

.card div{
    width: 100%;
    display: flex;
    justify-content: center;
}

p {
    font-size: xxx-large;
}

input{
    margin: 0.5em;
    font-size: large;
}

#incorrect_credentials {
    color: red;
}

input[type=submit] {
    transition: 1s ease;
    justify-content: center;
    padding: 0.5em;
    border: #cccccc;
    border-radius: 5px;
    color: saddlebrown;
    background-color: whitesmoke;
}

input[type=submit]:hover {
    background-color: saddlebrown;
    color: whitesmoke;
}
