<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <div>
        <div>
        <div>
            <div>Title</div>
            <div>Summary</div>
            <br/>
        </div>
        </div>
        <div th:each="note : ${all_notes}">
            <div th:text="${note.getTitle()}"></div>
            <div th:text="${note.getSummary()}"></div>
            <br/>
        </div>
    </div>
</body>
</html>