<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Your notes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/editor.css}">

</head>
<body>
<div th:insert="~{header :: header(${loggedInUser})}"></div>
<header>
    Your notes
</header>
<main>
    <nav id="sidebar" class="card">
        <table>
            <thead>
            <tr>
                <th>Titles</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="note : ${notes}">
                <td th:text="${note.getTitle()}" th:attr="onclick=|window.location.href = '@{/selectNote(id=${note.getId()})}'|" />
                <td>
                    <a th:href="@{/deleteNote(id=${note.getId()})}" class="btn btn-danger ml-2">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{/addNote}">+New</a>
                </td>
            </tr>
            </tbody>
        </table>
    </nav>
    <article id="editor" class="card">
        <form th:if="${is_visible}" th:action="@{/updateNote}" th:object="${selected_note}" method="post">
            <input type="text" id="title" th:field="*{title}" placeholder="Give a title," autofocus>
            <textarea id="body" th:field="*{body}" placeholder="And write something fantastic..">Select a title!</textarea>
            <input type="submit" value="Save">
        </form>
    </article>
</main>
</body>
</html>