<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="header(loggedInUser)" lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/header.css}">
</head>

<div>
    <form th:if="${loggedInUser != null && #request.getRequestURI() != '/editor' }" th:action="@{/editor}">
        <button type="submit" th:value="Editor" class = "ui-icon-container">
            <span th:insert="~{svgs/write-icon :: write-icon()}"></span>Editor
        </button>
    </form>
    <form th:if="${#request.getRequestURI() != '/browse'}" th:action="@{/browse}">
        <button type="submit" th:value="Browse" class = "ui-icon-container">
            <span th:insert="~{svgs/browse-icon :: browse-icon()}"></span>
            Browse
        </button>
    </form>
    <div class="user-menu card">
        <div th:if="${loggedInUser == null}" class = "ui-icon-container">
            <span th:insert="~{svgs/alien-icon :: alien-icon()}"></span>
            Not logged in.
        </div>
        <div th:if="${loggedInUser != null}" class = "ui-icon-container">
            <span th:insert="~{svgs/user-icon :: user-icon()}"></span>
            <span th:text="${loggedInUser.getUserName()}"></span>
        </div>

        <form th:if="${loggedInUser == null && #request.getRequestURI() != '/login' && #request.getRequestURI() != '/logout'}"
              th:action="@{/login}">
            <button class="login-button ui-icon-container" type="submit" th:value="Login">
                <span th:insert="~{svgs/log-in-icon :: log-in-icon()}"></span>
                Login
            </button>
        </form>
        <form th:if="${loggedInUser != null}" th:action="@{/logout}">
            <button class="logout-button ui-icon-container" type="submit" th:value="Logout">
                <span th:insert="~{svgs/log-out-icon :: log-out-icon()}"></span>
                Logout
            </button>
        </form>
        <div th:if="${loggedInUser != null}" class="ui-icon-container">
            Credits:
            <span th:if="${loggedInUser != null}" th:text="${loggedInUser.getCredits()}"></span>
            <span th:insert="~{svgs/coin-icon :: coin-icon()}"></span>
        </div>

    </div>
</div>

</html>