<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Note taking app</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/login.css}">
</head>
<body>
<center>
    <p>Note taking app</p>
    <form th:action="@{/login}" th:object="${user}" method="post">
        Username:
        <input type="text" th:field="*{userName}">
        <br>
        Password:
        <input type="password" th:field="*{passwordHash}">
        <br>
        <input type="submit" value="Login">
    </form>
</center>
</body>
</html>
