<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>The Note taking app</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/login.css}">
</head>
<body>
<div class="page-header" th:insert="~{header :: header(${loggedInUser})}"></div>
<div class="warning" th:if="${logged_out}">
    <script>alert("You logged out!"); </script>
</div>
<main>
    <div class="card">
        <div id="headercontainer">
            <p>Notes</p>
        </div>
        <form th:action="@{/login}" th:object="${user}" method="post">
            <input type="text" th:field="*{userName}" placeholder="Name" autofocus>
            <br/>
            <input type="password" th:field="*{passwordHash}" placeholder="Password">
            <br/>
            <div id="incorrect_credentials" th:if="${incorrect_credentials}">Incorrect credentials!</div>
            <div>
                <button class="login-button" type="submit" value="Login">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -3 24 24" width="24" height="24">
                        <path d="M6.641 9.828H1a1 1 0 1 1 0-2h5.641l-1.12-1.12a1 1 0 0 1 1.413-1.415L9.763 8.12a.997.997 0 0 1 0 1.415l-2.829 2.828A1 1 0 0 1 5.52 10.95l1.121-1.122zM13 0a1 1 0 0 1 1 1v16a1 1 0 0 1-2 0V1a1 1 0 0 1 1-1z"/>
                    </svg>
                    Login
                </button>
            </div>
        </form>
    </div>
</main>
</body>
</html>
