<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Your notes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/notes.css}">

</head>
<body>

    <div id="sidebar">
        <table>
            <thead>
            <tr>
                <th>Titles</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="note : ${notes}">
                <td th:text="${note.getTitle()}" th:attr="onclick=|window.location.href = '@{/selectNote(id=${note.getId()})}'|" />
                <td>
                    <a th:href="@{/deleteNote(id=${note.getId()})}" class="btn btn-danger ml-2">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{/addNote}">+New</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="editor">
        <form th:if="${is_visible}" th:action="@{/updateNote}" th:object="${selected_note}" method="post">
            <input type="submit" value="Save">
            <input type="text" id="title" th:field="*{title}">
            <textarea id="body" th:field="*{body}">Select a title!</textarea>
        </form>
    </div>

</body>
</html>