<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your notes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/notes.css}">
    <script>
        function note(x) {
            document.getElementById("main-content").innerHTML = x;
        }
    </script>
</head>
<body>
<header>
    Your notes
</header>
<main id="container">
    <selection id="sidebar" class="card">
        <div id="sidebar-content">
            <table>
                <thead>
                <tr>
                    <th>Titles</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="note : ${notes}">
                    <td th:text="${note.getTitle()}" th:attr="onclick=|note('${note.getBody()}')|"></td>
                    <td>
                        <a th:href="@{/noteDelete(id=${note.getId()})}" class="btn btn-danger ml-2">Delete</a>
                        <a th:href="@{/initUpdate(id=${note.getId()})}" class="btn btn-danger ml-2">Update</a>
                        <div class="update-note" th:if="${is_visible} and ${selected_note.getId()}==${note.getId()}">
                            <form th:action="@{/updateNote}" th:object="${selected_note}" method="post" id="updateform">
                                <input type="text" th:field="*{title}" placeholder="Title">
                                <br/>
                                <input type="text" th:field="*{body}" placeholder="Now write something fantastic..."
                                       th:form="updateform">
                                <br/>
                                <input type="submit" value="Update">
                            </form>

                        </div>

                    </td>
                </tr>
                </tbody>

            </table>
        </div>
        <form th:action="@{/noteadd}" th:object="${new_note}" method="post">
            <input type="text" th:field="*{title}" placeholder="Title">
            <br>
            <input type="text" th:field="*{body}" placeholder="Now write something fantastic...">
            <br>
            <input type="submit" value="Save">
        </form>
    </selection>
    <article id="content" class="card">
        <div id="main-content">
            Select a title!
            Login details:
            <p th:text="'username: ' + ${user.userName}"/>
            <p th:text="'password: ' + ${user.passwordHash}"/>
        </div>
    </article>
</main>
</body>
</html>
